:root {
    --backgroundColour: #4c565b;
    --fontColour: white;

    --theme-100: #27353d;
    --theme-200: #258b95;
}


body {
    background-color: var(--backgroundColour);
    color: var(--fontColour)
}